# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Virtual environments
env/
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Local environment variables
.env

# macOS metadata
.DS_Store

# Editor directories
.vscode/
.idea/

# Jupyter notebooks
.ipynb_checkpoints/

# Coverage and testing artifacts
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Mypy and type checking
.mypy_cache/

# Pyre type checker
.pyre/

# Pytest cache
.pytest_cache/

# Local build artifacts
*.zip
*.tar.gz
.build

# Miscellaneous
*.log
